h3{
    background-color: blue;
    font-size: 30px;
}

#love{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
}

.demo{
    color: darkblue;
    background-color: aqua;
    font-size: 40px;

}