.Happy{
    color: yellowgreen;background-color:red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#Joyful{
    background :scroll;
    font-size: 10px;
}
#excited{
    color :chocolate;
    font-weight: 200;
    width: 35px;
    height: 18px;
}